<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS verificado. -->
    <link rel="stylesheet" href="/css/verificado.css">
    <title>System: Aluno verificado</title>
</head>
<body>
    
    <section class="cracha">
        <img src="/img/fasipe.png" alt="Logo FASIPE CPA I">
        <h1><%= aluno.nome %></h1>
        <h3><%= aluno.curso %></h3>
        <img src="<%= code %>" alt="QRCode" class="qr-code">
    </section>

</body>
</html>